{% extends 'base.html' %}

{% block content %}
<style>
    body, h1, h2, h3, h4, h5, h6, p, ul, li, a, div, img {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
    }


  
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        color: #333;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        background: linear-gradient(to bottom, #007BFF, #0055FF);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .header-logo {
        max-width: 50px;
        margin-right: 10px;
    }

    .header-title {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    .menu-item {
        display: inline-block;
        margin-right: 25px;
    }

    .menu-item a,
.learn-more-button {
    text-decoration: none;
}

    .menu-item a {
        color: #fff;
        font-weight: bold;
        transition: color 0.3s;
    }

    .menu-item a:hover {
        color: #ffc107;
        transform: translateY(-3px);    }

   
    
    .menu-item a.active {
        color: #ffc107;
        font-weight: bold;
    }
    

    .login-button {
        background-color: #fff;
        color: #007BFF;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .login-button:hover {
        background-color: #007BFF;
        color: #fff;
    }

    .submenu {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }
    
    .menu-item:hover .submenu {
        display: block;
    }
    
    .submenu a {
        display: block;
        padding: 5px 0;
        color: #333;
        transition: color 0.3s;
        text-decoration: none;
    }
    
    .submenu a:hover {
        color: #007BFF;
        transform: translateY(-3px);

    }
    
    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
      }
      
      .footer-links a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
      }
      
      .footer-project-name {
        font-size: 18px;
        margin-top: 10px;

}

.security-issue {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.issue-text {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.issue-image {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.issue-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Additional styling for headings and buttons */
.issue-text h3, .issue-text h4 {
    margin-top: 20px;
}

.learn-more-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

.learn-more-button:hover {
    background-color: #0055FF;
}
</style>

<div class="security-issue">
    <div class="issue-text">
        <h3>Click Jacking   </h3>
<p>  Clickjacking is an interface-based attack in which a user is tricked into clicking on actionable content on a hidden website by clicking on some other content in a decoy website. Consider the following example:
    A web user accesses a decoy website (perhaps this is a link provided by an email) and clicks on a button to win a prize. Unknowingly, they have been deceived by an attacker into pressing an alternative hidden button and this results in the payment of an account on another site. This is an example of a clickjacking attack. The technique depends upon the incorporation of an invisible, actionable web page (or multiple pages) containing a button or hidden link, say, within an iframe. The iframe is overlaid on top of the user's anticipated decoy web page content. This attack differs from a CSRF attack in that the user is required to perform an action such as a button click whereas a CSRF attack depends upon forging an entire request without the user's knowledge or input.</p>

    <h4>Clickbandit    </h4>

    <p>Although you can manually create a clickjacking proof of concept as described above, this can be fairly tedious and time-consuming in practice. When you're testing for clickjacking in the wild, we recommend using Burp's Clickbandit tool instead. This lets you use your browser to perform the desired actions on the frameable page, then creates an HTML file containing a suitable clickjacking overlay. You can use this to generate an interactive proof of concept in a matter of seconds, without having to write a single line of HTML or CSS.</p>
    
    <h4>Clickjacking with prefilled form input</h4>

  <p>Some websites that require form completion and submission permit prepopulation of form inputs using GET parameters prior to submission. Other websites might require text before form submission. As GET values form part of the URL then the target URL can be modified to incorporate values of the attacker's choosing and the transparent "submit" button is overlaid on the decoy site as in the basic clickjacking example.</p>

        <h4>Combining clickjacking with a DOM XSS attack </h4>
<p>So far, we have looked at clickjacking as a self-contained attack. Historically, clickjacking has been used to perform behaviors such as boosting "likes" on a Facebook page. However, the true potency of clickjacking is revealed when it is used as a carrier for another attack such as a DOM XSS attack. Implementation of this combined attack is relatively straightforward assuming that the attacker has first identified the XSS exploit. The XSS exploit is then combined with the iframe target URL so that the user clicks on the button or link and consequently executes the DOM XSS attack </p>

        <a href="{% url 'lab_environment:all_labs' %}" class="learn-more-button">Go to labs</a>
    </div>
    <div class="issue-image">
        <img src="/media/xss.png" alt="SQL Injection">
    </div>
</div>



{% endblock %}
