{% extends 'base.html' %}

{% block content %}
<style>
    body, h1, h2, h3, h4, h5, h6, p, ul, li, a, div, img {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
    }


  
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        color: #333;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        background: linear-gradient(to bottom, #007BFF, #0055FF);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .header-logo {
        max-width: 50px;
        margin-right: 10px;
    }

    .header-title {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    .menu-item {
        display: inline-block;
        margin-right: 25px;
    }

    .menu-item a,
.learn-more-button {
    text-decoration: none;
}

    .menu-item a {
        color: #fff;
        font-weight: bold;
        transition: color 0.3s;
    }

    .menu-item a:hover {
        color: #ffc107;
        transform: translateY(-3px);    }

   
    
    .menu-item a.active {
        color: #ffc107;
        font-weight: bold;
    }
    

    .login-button {
        background-color: #fff;
        color: #007BFF;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .login-button:hover {
        background-color: #007BFF;
        color: #fff;
    }

    .submenu {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }
    
    .menu-item:hover .submenu {
        display: block;
    }
    
    .submenu a {
        display: block;
        padding: 5px 0;
        color: #333;
        transition: color 0.3s;
        text-decoration: none;
    }
    
    .submenu a:hover {
        color: #007BFF;
        transform: translateY(-3px);

    }
    
    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
      }
      
      .footer-links a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
      }
      
      .footer-project-name {
        font-size: 18px;
        margin-top: 10px;

}

.security-issue {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.issue-text {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.issue-image {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.issue-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Additional styling for headings and buttons */
.issue-text h3, .issue-text h4 {
    margin-top: 20px;
}

.learn-more-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

.learn-more-button:hover {
    background-color: #0055FF;
}
</style>

<div class="security-issue">
    <div class="issue-text">
        <h3>Authentication vulnerabilities   </h3>
<p>  Conceptually at least, authentication vulnerabilities are some of the simplest issues to understand. However, they can be among the most critical due to the obvious relationship between authentication and security. As well as potentially allowing attackers direct access to sensitive data and functionality, they also expose additional attack surface for further exploits. For this reason, learning how to identify and exploit authentication vulnerabilities, including how to bypass common protection measures, is a fundamental skill.
   In this section, we'll look at some of the most common authentication mechanisms used by websites and discuss potential vulnerabilities in them. We'll highlight both inherent vulnerabilities in different authentication mechanisms, as well as some typical vulnerabilities that are introduced by their improper implementation. Finally, we'll provide some basic guidance on how you can ensure that your own authentication mechanisms are as robust as possible</p>
        <h4>What is authentication?</h4>
<p>Authentication is the process of verifying the identity of a given user or client. In other words, it involves making sure that they really are who they claim to be. At least in part, websites are exposed to anyone who is connected to the internet by design. Therefore, robust authentication mechanisms are an integral aspect of effective web security.

    There are three authentication factors into which different types of authentication can be categorized:</p>
    
  <p>1-Something you know, such as a password or the answer to a security question. These are sometimes referred to as "knowledge factors".</p>
  <p>2-Something you have, that is, a physical object like a mobile phone or security token. These are sometimes referred to as "possession factors".</p>
    <p>3-Something you are or do, for example, your biometrics or patterns of behavior. These are sometimes referred to as "inherence factors".</p>
    <p>Authentication mechanisms rely on a range of technologies to verify one or more of these factors</p>

        <h4>What is the difference between authentication and authorization?</h4>
<p>Authentication is the process of verifying that a user really is who they claim to be, whereas authorization involves verifying whether a user is allowed to do something.

    In the context of a website or web application, authentication determines whether someone attempting to access the site with the username Carlos123 really is the same person who created the account.
    
    Once Carlos123 is authenticated, his permissions determine whether or not he is authorized, for example, to access personal information about other users or perform actions such as deleting another user's account.</p>
    

        <a href="{% url 'lab_environment:all_labs' %}" class="learn-more-button">Go to labs</a>
    </div>
    <div class="issue-image">
        <img src="/media/auth.png" alt="SQL Injection">
    </div>
</div>



{% endblock %}
